<!-- _food.html.erb -->
<tbody>
  <tr class="food-details">
    <td class="food-name"><%= food.name %></td>
    <td class="food-measurements"><%= food.measurements %></td>
    <td class="food-price"><%= food.price %></td>
  </tr>
</tbody>
