<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto px-4">
      <li class="nav-item">
        <%= link_to "Public Recipes", public_recipes_path, class:"navbar-brand fs-6" %>
      </li>
    </ul>
    </div>
    <%= link_to 'Sign up', new_user_registration_path, class: "fs-6 btn btn-primary me-4" %>
</nav>
